<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ post?.title }}</h2>
        <p class="card-text">{{ post?.content }}</p>
        <p class="card-text"><strong>Author:</strong> {{ post?.author }}</p>
        <p class="card-text"><strong>Date:</strong> {{ post?.date }}</p>
        <div class="mt-3">
          <button class="btn btn-secondary" routerLink="/blog">Back to Blog List</button>
        </div>
      </div>
    </div>
  </div>
  