<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 shadow-lg">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <form *ngIf="!showSignupForm">
                  <h2 class="mb-4">Welcome Back!</h2>
                  <div class="mb-4 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control rounded-pill" id="username" name="username" [(ngModel)]="loginObj.userName" placeholder="Username" required>
                  </div>
                  <div class="mb-4 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" class="form-control rounded-pill" id="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block rounded-pill mb-4" type="button" (click)="onLogin()">Log in</button>
                </form>
                <form *ngIf="showSignupForm">
                  <h2 class="mb-4">Join Our Community</h2>
                  <div class="mb-4">
                    <label for="signupUsername" class="form-label">Username</label>
                    <input type="text" class="form-control rounded-pill" id="signupUsername" name="signupUsername" [(ngModel)]="signupObj.userName" required>
                  </div>
                  <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control rounded-pill" id="email" name="email" [(ngModel)]="signupObj.email" required>
                  </div>
                  <div class="mb-4">
                    <label for="signupPassword" class="form-label">Password</label>
                    <input type="password" class="form-control rounded-pill" id="signupPassword" name="signupPassword" [(ngModel)]="signupObj.password" required>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block rounded-pill" type="button" (click)="onSignup()">Sign Up</button>
                </form>
                
                <div class="text-center">
                  Don't have an account? 
                  <button *ngIf="!showSignupForm" class="btn btn-primary btn-lg rounded-pill mt-3" type="button" (click)="toggleForm()">Sign Up</button>
                  <button *ngIf="showSignupForm" class="btn btn-secondary btn-lg rounded-pill mt-3" type="button" (click)="toggleForm()">Back to Login</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Explore Beyond Books</h4>
                <p class="small mb-0">
                  Discover a world of stories, knowledge, and imagination. Join us to share your thoughts and ideas with our community.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
