.carousel-image {
  height: 400px;
  object-fit: cover;
}

.small-icon {
  font-size: 40px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 0;
  margin-left: 15px;
}

.carousel-control-next {
  right: 0;
  margin-right: 15px; 
}

.featured-title {
  text-transform: uppercase;
  font-size:larger;
  font-weight: bold; 
}

.read-more-button {
  background-color: black;
  color: white;
  font-weight: bold; 
}
